<!--package your code together into modules which support functions and data-->
<!--<html ng-app="notesApp">
	<body>
		<input type="text" ng-model="name" placeholder="Enter your name">
		<h1>Hello {{1 + 2}} <span ng-bind="name"></span></h1>
	<script src="angular.js">
	</script>
	<script type="text/javascript">
		angular.module('notesApp', []);
	</script>
	</body>
</html>-->

<!--You don't alway have to use the ng-app to initialize angular, you can call the bootstrap method-->
<!--<html>
	<body>
		<input type="text" ng-model="name" placeholder="Enter your name">
		<h1>Hello {{1 + 2}} <span>{{name}}</span></h1>
	<script src="angular.js">
	</script>
	<script type="text/javascript">
		angular.module('notesApp', []);
		angular.element(document).ready(function(){
			angular.bootstrap(document,['notesApp']);
		});
	</script>
	</body>
</html>-->

<h1>Controllers</h1>
<ul>
	<li>the first controller. Note usage of the ng-controller attribute (directive??) and the definition of logic inside the .controller function</li>
</ul>
<html ng-app="notesApp">
	<body ng-controller="MainCtrl">
		<input type="text" ng-model="name" placeholder="Enter your name">
		<h1>Hello {{1 + 2}} <span>{{name}}</span></h1>
	<script src="angular.js">
	</script>
	<script type="text/javascript">
		angular.module('notesApp', []).controller('MainCtrl', [function(){
			console.log("controller created");
		}]);
	</script>
	</body>
</html>

<!--introduced the as syntax inside the ng-controller directive, which associates an instance of a controller with a tag. We also showed the this keyword, which maps properities in the controller to {{}} tags in the html. -->
<html ng-app="notesApp">
	<body ng-controller="MainCtrl as ctrl">
		{{ctrl.helloMsg}} Angular
		<br/>
		{{ctrl.goodbyeMsg}} Angular 

		<script src="angular.js"></script>
		<script type="text/javascript">
			angular.module('notesApp', []).controller('MainCtrl', [function(){
				this.helloMsg = "Yo Yo DJ";
				this.goodbyeMsg = "GB";
			}]);
		</script>
	</body>
</html>


<html ng-app="notesApp">
	<body ng-controller="MainCtrl as ctrl">
		{{ctrl.msg}} Angular
		<br/>
		<button ng-click="ctrl.changeMessage()">Change this message</button>
		<script src="angular.js"></script>
		<script type="text/javascript">
			angular.module('notesApp', []).controller('MainCtrl', [function(){
				this.msg = "Yo Yo DJ";
				this.changeMessage = function(){this.msg = "THERE IS A BETTER WAY TO WRITE THIS CODE";}  
			}]);
		</script>
	</body>
</html>


<html ng-app="notesApp">
	<body ng-controller="MainCtrl as ctrl">
		{{ctrl.msg}} Angular
		<br/>
		<button ng-click="ctrl.changeMessage()">Change this message</button>
		<script src="angular.js"></script>
		<script type="text/javascript">
			var app = angular.module('notesApp', []);
			
			app.controller('MainCtrl', [function(){
				this.msg = "Yo Yo DJ";
				this.changeMessage = function(){this.msg = "THIS IS THE BETTER WAWY";}  
			}]);
		</script>
	</body>
</html>





